@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import "tailwindcss";


:root {
  font-family: "Pangolin", serif;
  line-height: 1.5;
  font-weight: 400;
  color: #590D22;
  background-color: #FFF0F3;
}


